# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
.sysinfo
*.pidb
*.booproj
*.svd

# IDE
.vs/
.vscode/

# OS
.DS_Store

# Crash/Profiler
*.stackdump
*.dSYM/
